.trend-container {
  height: 60px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  position: relative;
  padding-left: 15px;
}

.trend-container:hover {
  background-color: rgb(32, 35, 39);
}
