.inner-container {
  width: 600px;
  height: 650px;
  background-color: black;
  border-radius: 15px;
  display: grid;
}

.container {
  background-color: rgba(91, 112, 131, 0.4);
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  color: white;
}

.input-field {
  border: 1px solid rgba(255, 255, 255, 0.321);
  width: min(100% - 2px, 600px);
  height: 30px;
  margin: 15px 0 0 0;
  padding: 0;
  outline: none;
  padding-inline: 0;
  padding-block: 0;
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  .inner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0px;
    place-items: flex-start;
  }
}
